@import "components/_variables";
@import "components/_header";
@import "components/_sidebar";

body{
  background: @primary-background;
  font-family: @body-copy;
  font-size: @base-font-size;
  line-height: @base-line-height;
  color: @primary-text;
}




.dropdown-menu{
  padding-top: 0px;
  border-radius: 0px;
}

.dropdown-item{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: @font-size * 0.8;
  line-height: 36px;
}

.dropdown-toggle{
  cursor: pointer;
}


