<nav class="shadow-sm">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a class="breadcrumb-link" href="/">Dashboard</a></li>
      <li class="breadcrumb-item" aria-current="page"><a class="breadcrumb-link" href="/marketplace">MarketPlace</a></li>
      <li class="breadcrumb-item active" aria-current="page">Chiến dịch: Cuộc thi "Càng Đông Càng Vui" - The More, The Merrier !!!</li>
    </ol>
</nav>
<div class="alert alert-warning" role="alert">
  <ul class="list-unstyled mb-1">
    <li><i class="fas fa-info-circle"></i> Bạn đã đồng ý tham gia chiến dịch!</li>
    <li><i class="fas fa-info-circle"></i> Bạn chưa đăng ký KPIs để đủ điều kiện tham gia chiến dịch!</li>
  </ul>  
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">

          <ul class="nav nav-tabs nav-campaign">
            <li class="nav-item">
              <a class="nav-link active" id="campaign-info-tab" data-toggle="tab" href="#campaign-info" role="tab">Thông tin chung</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="campaign-statistic-tab" data-toggle="tab" href="#campaign-statistic" role="tab">Thống kê</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="campaign-caption-tab" data-toggle="tab" href="#campaign-caption" role="tab">Caption</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="campaign-content-tab" data-toggle="tab" href="#campaign-content" role="tab">Nội dung</a>
            </li>            
          </ul>     
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="campaign-info" role="tabpanel">
              <%- partial("partial/_campaign-detail-info") %>
            </div>
            <div class="tab-pane fade" id="campaign-statistic" role="tabpanel">
              <div class="card mb-3 shadow border-0">
                <div class="card-body">
                  <ul class="list-unstyled">
                    <li><h5>Cuộc thi "Càng Đông Càng Vui" - The More, The Merrier !!!</h5></li>
                    <li class="mb-3"><i class="fab fa-facebook"></i> Thay hình Avatar</li>
                    <li>Tổng tương tác: 500 <small><i style="color: red;">Bao gồm tổng (likes + shares + comments) </i></small></li>
                    <li>
                        Vẽ biểu đồ thống kê lượng tương tác bài post của Influencer đã chia sẻ.<br/>
                        1. Số lượng likes. <br/>
                        2. Số lương share. <br/>
                        3. Số lượng comments <br/>
                        link chart: <a href="https://www.chartjs.org/samples/latest/charts/line/basic.html"
                        target="_blank">https://www.chartjs.org/samples/latest/charts/line/basic.html</a><br/>
                        <i style="color: red;">Chart làm theo format này nhé. Cột X -> chỉ thời gian, Cột Y -> chỉ số lượng</i>
      
                    </li>
                    <li>
                      <img src="img/chart_statistic.png" width="680"/>
                    </li>              
                  </ul>
                </div>
              </div>            
            </div>
            <div class="tab-pane fade" id="campaign-caption" role="tabpanel">
              <%- partial("partial/_campaign-detail-caption") %>
            </div>
            <div class="tab-pane fade" id="campaign-content" role="tabpanel">
              <%- partial("partial/_campaign-detail-content") %>
            </div>
          </div>
      


        </div>

        <div class="col-md-4">
          <div class="card shadow sticky-top">
            <div class="card-body">                                                                    
              <button class="btn btn-primary w-100" data-caption=""> <i class="fab fa-facebook"></i> Chia sẻ trên Facebook</button>
              <small><i style="color: red;">Đã chia sẻ rồi thì ko hiện nút này</i></small>
              <hr/>
              <button class="btn btn-warning w-100" data-toggle="modal" data-target="#modal-campaign-update-work" 
              data-caption=""> <i class="fas fa-pen-fancy"></i> Cập nhật thông tin công việc</button>
            </div>
          </div>
        </div>
    </div>
</div>