<nav class="shadow-sm">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>
<div class="container mt-5">
  <!-- <div class="row">
    <div class="col-md-6 mb-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Payment</h5>
          <ul class="list-inline">
            <li class="list-inline-item">Số tiền trong ví: <strong style="color: red;">200,000 vnđ</strong></li>            
          </ul>
          <div class="text-right">
            <a href="#" class="btn btn-outline-primary btn-sm">Lịch sử giao dịch</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Chiến dịch</h5>
          <ul class="list-inline">
            <li class="list-inline-item">Tham gia: <span class="badge badge-primary">12</span></li>
            <li class="list-inline-item">Hoàn thành: <span class="badge badge-primary">11</span></li>
            <li class="list-inline-item">Hủy: <span class="badge badge-primary">16</span></li>
          </ul>
          <div class="text-right">
            <a href="#" class="btn btn-outline-primary btn-sm">Chiến dịch</a>
          </div>          
        </div>
      </div>
    </div>
   
  </div> -->
</div>