<nav class="shadow-sm">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a class="breadcrumb-link" href="/">Dashboard</a></li>
      <li class="breadcrumb-item" aria-current="page">Cấu hình</li>      
    </ol>
</nav>
<div class="alert alert-warning" role="alert">
  <i class="fas fa-info-circle"></i> Bạn đã thay đổi thông tin cá nhân thành công
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">

          <ul class="nav nav-tabs nav-campaign">
            <li class="nav-item">
              <a class="nav-link active" id="influencer-change-password-tab" data-toggle="tab" href="#influencer-change-password" role="tab">Thay đổi mật khẩu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="influencer-register-kols-tab" data-toggle="tab" href="#influencer-register-kols" role="tab">Đăng ký Kols</a>
            </li>                   
          </ul>     
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="influencer-change-password" role="tabpanel">
                <%- partial("partial/_influencer-change-password") %>
            </div>
            <div class="tab-pane fade" id="influencer-register-kols" role="tabpanel">
                <%- partial("partial/_influencer-register-kols") %>          
            </div>
         
          </div>
      


        </div>
        <div class="col-md-4">
            <div class="card shadow sticky-top">
              <img class="card-img-top" src="img/3.jpg" alt="Card image cap">
              <div class="card-body">              
                <form>                  
                    <div class="form-group">
                      <label>Upload ảnh đại diện</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Upload ảnh mới</label>
                      </div>                      
                    </div>                  
                    <div class="text-right">
                        <button class="btn btn-outline-primary">Thay ảnh đại diện</button>
                    </div>
                    
                </form>
              </div>
            </div>
          </div>

   
    </div>
</div>