<div class="form-signin">
    <div class="card rounded-0 border-2 shadow">
        <div class="card-body">
          <h3 class="card-title">Microkols <small>Influencer</small></h3>
          
          <div class="row">
            <div class="col-md-5 mt-5">
                <br/>
                <br/>
                <br/>
                <br/>
                <h1>Sign in</h1>
                <p>                    
                    Tham gia Microkols với tư cách là người có ảnh hưởng với tài khoản Facebook cá nhân của bạn. 
                    Chúng tôi sẽ nhận được trang cá nhân và địa chỉ email
                </p>
                <div>
                    <a href="javascript:;" class="btn btn-primary btn-lg"><i class="fab fa-facebook"></i> Log in with Facebook</a>
                </div>
            </div>
            <div class="col-md-7">
                <img src="img/img-signin.png" class="mb-5" width="480"/>
            </div>
          </div>

        </div>
      </div>
</div>