<div class="card mb-3 shadow border-0">
    <div class="card-body">
        
        <div class="d-flex bd-highlight mb-3">
            <div class="mr-auto bd-highlight">
                <h5>Phản hồi duyệt nội dung</h5>
            </div>
            <div class="bd-highlight">
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-campaign-form-content">Gửi nội dung</button>
            </div>

        </div>
        <ul class="list-unstyled">
            <li><h5>Cuộc thi "Càng Đông Càng Vui" - The More, The Merrier !!!</h5></li>
            <li class="mb-3"><i class="fab fa-facebook"></i> Thay hình Avatar</li>
            <li>
                <div class="card shadow border-0 mb-2">
                    <div class="card-body">
                      <div class="text-right">
                        <small>Ngày 29-12-2020 10:16:36</small>
                      </div>
                      <p>
                        Mình tự hào vì đã có thẻ Visa Platinum của TPbank, dùng nhanh gọn khi rút tiền chưa kể các ưu đãi khi dùng các dịch vụ
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="img/img-avatar-change.jpg" width="32" height="32"/>
                        </li>
                      </ul>
                      <div class="text-right">
                        <span class="badge badge-success">Đã duyệt</span> 
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card shadow border-0 mb-2">
                    <div class="card-body">
                      <div class="text-right">
                        <small>Ngày 29-12-2020 10:16:36</small>
                      </div>
                      <p>
                        Mình tự hào vì đã có thẻ Visa Platinum của TPbank, dùng nhanh gọn khi rút tiền chưa kể các ưu đãi khi dùng các dịch vụ                        
                      </p>
                      <p>
                        <strong>Ghi chú từ doanh nghiệp</strong><br/>
                        <em class="text-secondary">
                            Sửa lại câu cú cho chuẩn hơn, sai chính tả nhiều quá
                        </em>
                      </p>
                      <div class="text-right">
                        <span class="badge badge-danger">Chưa duyệt</span> 
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card shadow border-0 mb-2">
                    <div class="card-body">
                      <div class="text-right">
                        <small>Ngày 29-12-2020 10:16:36</small>
                      </div>
                      <p>
                        Mình tự hào vì đã có thẻ Visa Platinum của TPbank, dùng nhanh gọn khi rút tiền chưa kể các ưu đãi khi dùng các dịch vụ
                      </p>
                      <div class="text-right">
                        <span class="badge badge-warning">Chờ duyệt</span> 
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <nav class="mt-4">
                    <ul class="pagination justify-content-end">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trang Trước</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Trang Tiếp</a>
                      </li>
                    </ul>
                  </nav>
            </li>
        </ul>
    </div>
  </div>