<div class="card mb-3 shadow border-0 mt-1">
    <img src="img/1.jpg" class="card-img-top img-radious-remove" alt="...">
    <div class="card-body">
      <h3 class="card-title">Cuộc thi "Càng Đông Càng Vui" - The More, The Merrier !!!</h3>
      <h5 class="mb-3">Chia sẻ thông điệp, không cần viết caption</h5>
      <div class="d-flex">
        <div><small>by</small><span class="ml-2"><img src="img/logo_merchant.png" width="24" height="24" class="rounded-circle"> Tp Bank</span></div>                    
        <div class="ml-auto text-right"><small class="ml-5">Kết thúc: 25/12/2019 14:00:00</small></div>                                      
      </div>                  
      <hr/>
      <div class="d-flex">

        <div class="campaign-facebook"><h1><i class="fab fa-facebook"></i></h1></div>
        <div>
          <ul class="list-unstyled">
            <li class="ml-2">Running</li>
            <li class="ml-2"><small>20/90 tham gia</small></li>
          </ul>
        </div>
        <div class="ml-auto text-right">
          <button data-toggle="modal" data-target="#modal-campaign-apply-caption" class="btn btn-outline-primary">Apply</button>&nbsp;<button id="btn-campaign-apply" class="btn btn-outline-primary">Apply</button>
        </div>                                                          
      </div>
      <strong>Giới thiệu:</strong>
      <p>                    
        ICON DENIM là shop thời trang nam tại 12 - 12 bis Cách Mạng Tháng Tám, phường Bến Thành, quận 1, TPHCM.
        Chi tiết công việc: đến cửa hàng ICON DENIM tại số 12 - 12 bis đường Cách Mạng Tháng Tám, phường Bến Thành, quận 1, TPHCM check in và viết bài PR cho shop trên trang Facebook cá nhân.
        Phần thưởng cho influencer tham gia chiến dịch: Sản phẩm trị giá 500.000 VND và 1 voucher 20% kèm với 300.000 VND tiền mặt.
        YÊU CẦU INFLUENCER LÀ NAM CÓ PHONG CÁCH.
      </p>
      <strong>Liên kết URL nội dung:</strong>
      <p>
        <a target="blank" href="https://www.honda.com.vn/pages/honda-motor/motor-detail/motor-detail.html?xe=%22monkey%22">
          https://www.honda.com.vn/pages/honda-motor/motor-detail/motor-detail.html?xe=%22monkey%22
        </a>
      </p>
      <strong>Yêu cầu về nội dung:</strong>
      <p>
        Đến cửa hàng ICON DENIM tại số 12 - 12 bis đường Cách Mạng Tháng Tám, phường Bến Thành, quận 1, 
        TPHCM check in và viết bài PR cho shop trên trang Facebook cá nhân.
      </p>
      <strong>Ảnh sản phẩm dịch vụ: <small><i style="color: red;">Có ảnh sản phẩm, dịch vụ thì mới hiển thị</i></small></strong>
      <ul class="list-inline">                                    
        <li class="list-inline-item">
            <img src="img/4.jpg" width="128" class="img-thumbnail"/>
        </li>
        <li class="list-inline-item">
            <img src="img/5.jpg" width="128" class="img-thumbnail"/>
        </li>
      </ul>                                    
      <strong>Hashtag</strong>
      <p>#ICONDENIM ,  #ICONDENIM1, #ICONDENIM3</p>
      <strong>Nội dung mẫu:</strong>
      <p>
        Lần đầu tiên đến ICON DENIM thử đồ, quyết định mua luôn không suy nghĩ 😍
        Review nhè nhẹ cho anh em nào đang suy nghĩ nên mua đồ ở đâu nè. Không gian thoáng tha hồ đi quẹo lựa quần áo, các anh em nào thích chụp hình sống ảo cũng có luôn. Đa zi năng nha 😂😂😂 Chất liệu vải rất xịn, đáng đồng tiền. Gía cả cũng không quá đắt, tương đương với shop khác. Nhân viên thân thiện, tư vấn nhiệt tình.
        Nói chung rất hài lòng, dự là sẽ quay lại sắm thêm vài bộ mặc cho sướng 🤣
        Địa chỉ cho bạn nào cần nha: 12 - 12 bis CMT8, quận 1, TPHCM.
        #ICONDENIM <small><i style="color: red;">Nếu có ảnh kèm nội dung mẫu thì hiển thị</i></small>
      </p>
      <strong>Thời gian & địa điểm trải nghiệm sản phẩn/dịch vụ</strong>
      <p>
        <ul class="list-unstyled">
          <li>Thời gian: 09:25 AM 09/12/2019 - 07:00 PM 09/12/2019</li>
          <li>Địa chỉ: 86 Đường láng</li>
          <li><small><i style="color: red;">Cái này chỉ dùng cho hai loại chiến dịch sau: "Chia sẻ thông điệp, viết thêm caption", "Viết Review một sản phẩm hoặc tham gia trải nghiệm"
          </i></small><i></i></li>
        </ul>
      </p>
    </div>
</div>