<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand pt-2" href="#"><h4>MicroKols <small>Influencer</small></h4></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link menu-link" href="#">Giới thiệu <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" href="#">Chính sách & Quy định</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" href="#">Hỏi & Đáp</a>
        </li>
      </ul>
      <ul class="list-inline my-2 my-md-0 mr-md-3">
        <li class="list-inline-item">
          <a class="nav-link menu-link notification" href="#">
            <i class="fas fa-bell mr-1"></i><span class="badge badge-danger">6</span>
          </a>  
        </li>
        <li class="list-inline-item">
          <div class="nav-link btn-group">                
            <div class="dropdown-toggle" data-toggle="dropdown">
              <img src="img/avatar.png" width="32" height="32" class="rounded-circle"/>
              <span class="text-blue500">Hà Khánh Long</span>
            </div>        
            <div class="dropdown-menu dropdown-menu-right mr-2">
              <a class="dropdown-item mt-2" href="#"><i class="fas fa-cog"></i> Cấu hình</a>
              <a class="dropdown-item" href="#"><i class="fas fa-key"></i> Thay đổi mật khẩu</a>
              <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Thoát</a>          
            </div>
          </div>  
        </li>
        
      
      </ul>     
    </div>
  </nav>
</header>
<div class="nav-scroller bg-white shadow-sm header-menu-container">
  <div class="container-fluid">
    <ul class="nav nav-pills header-menu">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-bell"></i> Thông báo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-user"></i> Tài khoản</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-star"></i> MarketPlace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-facebook"></i> Facebook Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-user-friends"></i> Bạn bè trên Facebook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-cogs"></i> Cấu hình</a>
      </li>     
    </ul>

   

  </div>
 
</div>




