<div class="card mb-3 shadow border-0 mt-1">    
    <div class="card-body">
    
        <form>

            <div class="form-group">
                <label for="Type">Loại tài khoản</label>
                    <div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="radioRegular" value="Regular" name="Type" checked="" class="custom-control-input">
                            <label class="custom-control-label" for="radioRegular">
                                Tài khoản thường


                            <span data-toggle="tooltip" data-html="true" title="" data-original-title="Mô tả tài khoản thường"><i class="fa fa-question-circle"></i></span>

                        </label>
                    </div>
                    <div class="ml-3 pl-5">

                    </div>
                </div>
                    <div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="radioHotTeen" value="HotTeen" name="Type" class="custom-control-input">
                            <label class="custom-control-label" for="radioHotTeen">
                                Tài khoản Hot Teen


                            <span data-toggle="tooltip" data-html="true" title="" data-original-title="Mô tả Hotteen"><i class="fa fa-question-circle"></i></span>

                        </label>
                    </div>
                    <div class="ml-3 pl-5">

                    </div>
                </div>
                    <div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="radioHotMom" value="HotMom" name="Type" class="custom-control-input">
                            <label class="custom-control-label" for="radioHotMom">
                                Tài khoản Hot Mom


                            <span data-toggle="tooltip" data-html="true" title="" data-original-title="Mô tả Hotmom"><i class="fa fa-question-circle"></i></span>

                        </label>
                    </div>
                    <div class="ml-3 pl-5">

                            <div id="dataHotMom">

                                <h6 class="mb-2">
                                    Danh sách con cái
                                </h6>
                                <div class="mb-2">
                                    <button v-on:click="createItem()" type="button" class="btn btn-primary btn-sm">
                                        <span class="fas fa-plus"></span> Thêm con cái
                                    </button>
                                </div>
                                <div class="d-flex mb-2" v-for="(item,idx) in childrens">

                                    <div class="mr-auto form-inline">

                                        <select class="form-control" v-bind:name="'HotMomData['+idx+'].Gender'" v-model="item.Gender">
                                            <option value="1">Nam</option>
                                            <option value="2">Nữ</option>
                                        </select>

                                        <input type="number" placeholder="Tuổi" class="form-control mx-sm-2" v-bind:name="'HotMomData['+idx+'].Age'" v-model="item.Age">
                                        <select class="form-control" name="HotMomData.AgeType" v-bind:name="'HotMomData['+idx+'].AgeType'" v-model="item.AgeType">
                                            <option value="1">Tháng</option>
                                            <option value="2">Tuổi</option>
                                        </select>
                                    </div>

                                </div>


                            </div>
                    </div>
                </div>
                    <div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="radioHotFacebooker" value="HotFacebooker" name="Type" class="custom-control-input">
                            <label class="custom-control-label" for="radioHotFacebooker">
                                Tài khoản HotFacebooker


                            <span data-toggle="tooltip" data-html="true" title="" data-original-title="Mô tả Facebooker"><i class="fa fa-question-circle"></i></span>

                        </label>
                    </div>
                    <div class="ml-3 pl-5">

                    </div>
                </div>
                    <div>

                        <div class="custom-control custom-radio">
                            <input type="radio" id="radioKols" value="Kols" name="Type" class="custom-control-input">
                            <label class="custom-control-label" for="radioKols">
                                Tài khoản Kols
                            <span data-toggle="tooltip" data-html="true" title="" data-original-title="Mô tả Kols"><i class="fa fa-question-circle"></i></span>

                        </label>
                    </div>
                    
                </div>              
                <span class="field-validation-valid" data-valmsg-for="Type" data-valmsg-replace="true"></span>
            </div>
            <hr/>
            <div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="radioReviewer" value="Kols" name="Type" class="custom-control-input">
                    <label class="custom-control-label" for="radioReviewer">
                        Bạn có thể/phải là một Reviewer
                        <span data-toggle="tooltip" data-html="true" title="" data-original-title="Mô tả Kols"><i class="fa fa-question-circle"></i></span>

                    </label>
                </div>
            
            </div>
            <div class="text-center">
                <input type="submit" value="Đồng ý" class="btn btn-outline-primary">
            </div>
        </form>
        <hr/>
        <h5 class="mb-3">Hãy cho chúng tôi biết mức thu nhập mong muốn khi hoàn thành mỗi chiến dịch của chúng tôi</h5>
        <strong>1.Chia sẻ thông điệp, không cần viết caption</strong>
        <div class="row my-2">                        
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối thiểu</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối đa</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>KPI cam kết tối thiểu</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" 
                        id="switchShareContent" checked="checked" 
                        data-url="/Account/UpdateIgnoreCampaignTypes?type=ShareContent&amp;removed=True">
                        <label class="custom-control-label" for="switchShareContent">Đồng ý</label>
                    </div>
                </div>  
               
            </div>
        </div>
        <strong>2.Chia sẻ thông điệp, viết thêm caption</strong>
        <div class="row my-2">                        
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối thiểu</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối đa</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>KPI cam kết tối thiểu</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" 
                        id="switchShareContent1" checked="checked" 
                        data-url="/Account/UpdateIgnoreCampaignTypes?type=ShareContent&amp;removed=True">
                        <label class="custom-control-label" for="switchShareContent1">Đồng ý</label>
                    </div>
                </div>  
               
            </div>
        </div>
        <strong>3.Viết Review về sản phẩm/dịch vụ</strong>
        <div class="row my-2">                        
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối thiểu</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối đa</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>KPI cam kết tối thiểu</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" 
                        id="switchShareContent2" checked="checked" 
                        data-url="/Account/UpdateIgnoreCampaignTypes?type=ShareContent&amp;removed=True">
                        <label class="custom-control-label" for="switchShareContent2">Đồng ý</label>
                    </div>
                </div>  
               
            </div>
        </div>
        <strong>4.Thay hình avatar theo yêu cầu</strong>
        <div class="row my-2">                        
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối thiểu</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối đa</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                             
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" 
                        id="switchShareContent3" checked="checked" 
                        data-url="/Account/UpdateIgnoreCampaignTypes?type=ShareContent&amp;removed=True">
                        <label class="custom-control-label" for="switchShareContent3">Đồng ý</label>
                    </div>
                </div>  
               
            </div>
        </div>
        <strong>5.Tham gia sự kiện và checkin</strong>
        <div class="row my-2">                        
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối thiểu</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối đa</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                             
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" 
                        id="switchShareContent4" checked="checked" 
                        data-url="/Account/UpdateIgnoreCampaignTypes?type=ShareContent&amp;removed=True">
                        <label class="custom-control-label" for="switchShareContent4">Đồng ý</label>
                    </div>
                </div>  
               
            </div>
        </div>
        <strong>6.Chia sẻ link livestream lên tường facebook của mình</strong>
        <div class="row my-2">                        
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối thiểu</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tối đa</label>
                    <input type="number" disabled="" value="20000" class="form-control">
                </div>                
            </div>
            <div class="col-md-3">
                             
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" 
                        id="switchShareContent5" checked="checked" 
                        data-url="/Account/UpdateIgnoreCampaignTypes?type=ShareContent&amp;removed=True">
                        <label class="custom-control-label" for="switchShareContent5">Đồng ý</label>
                    </div>
                </div>  
               
            </div>
        </div>


     
    </div>
</div>
