<div class="card mb-3 shadow border-0 mt-1">    
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tài khoản</th>
                <th scope="col">Số tài khoản</th>
                <th scope="col">Ngân hàng</th>
                <th scope="col">Chi nhánh</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        <div class="text-right">
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-influencer-add-bank">Thêm tài khoản</button>
        </div>            
    </div>
</div>

