<!-- Modal -->
<div class="modal fade" style="z-index: 999999;" id="modal-influencer-add-bank" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm tài khoản ngân hàng</h5>          
        </div>
        <div class="modal-body">                    
            <!--#################################-->
          
            <form>
                <div class="form-group">
                    <label>Tên tài khoản</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Số tài khoản</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Ngân hàng</label>
                    <input type="text" class="form-control" value="Techcom bank"/>
                    
                </div>
                <div class="form-group">
                    <label>Chi nhánh</label>
                    <input type="text" class="form-control" value="Hà Nội"/>                
                </div>                                          
                <div class="text-right">
                    <button class="btn btn-outline-primary">Thêm mới</button>
                </div>
            
                
            </form>

            <!--#################################-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>          
        </div>
      </div>
    </div>
  </div>