<!-- Modal -->
<div class="modal fade" style="z-index: 999999;" id="modal-campaign-form-content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Gửi nội dung</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">                    
            <!--#################################-->
            <div class="alert alert-success" role="alert">
                <i class="fas fa-info-circle"></i> Đã gửi nội dung thành công, nội dung của bạn đang chờ được xét duyệt.
              </div>
            <form>
                <div class="form-group">
                    <label>Nội dung</label>
                    <textarea class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                  <label>Ảnh Avatar</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Ảnh avatar</label>
                  </div>
                  <small><i style="color: red;">Chỉ hiện thị cho chiến dịch thuộc loại "thay hình avatar"</i></small>
                </div>
                <div class="form-group">
                  <label>Ảnh nội dung</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Ảnh nội dung</label>
                  </div>
                  <small><i style="color: red;">Chỉ hiện thị cho chiến dịch thuộc loại "Tham gia sự kiện và check in", "Viết Review một sản phẩm hoặc tham gia trải nghiệm"</i></small>
                </div>
                <div class="text-right">
                    <button class="btn btn-outline-primary">Gửi</button>
                </div>
                
            </form>

            <!--#################################-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>          
        </div>
      </div>
    </div>
  </div>